<br>
<div class="search-form", >
<p>
Enter your symptoms:
</p>
<br>
<br>
<%= form_tag diseases_path, :remote => true, :method => :get do %>
  <div class="ui-widget">
      <%= text_field_tag :search, params[:search], id: "tags", size: "50" %>
      <br>
      <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-lg", id: "search-submit" %>

      <!-- :"data-toggle" => "modal", :"data-target" => "#myModal", -->
  </div>
<% end %><br>
</div>

<div id="disease-result" type="hidden">
</div>


